<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="applicationId" value="319e8c23-899d-485e-b0b8-5b2bdd392979"/>
    <add key="applicationSecret" value="1FL3okCfdKfLiy6XzBzynkPpW2ib0uFZmFIHmd/FT4M="/>
    <add key="tenant" value="trainingadb2c.onmicrosoft.com"/>
    <add key="extensionProperty" value="TaxRegistrationNumber" />
  </appSettings>
</configuration>