<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="applicationId" value="[APPLICATION_ID]"/>
    <add key="applicationSecret" value="[APPLICATION_SECRET]"/>
    <add key="tenant" value="[TENANT].onmicrosoft.com"/>
    <add key="extensionProperty" value="[TENANT_EXTENSION_PROPERTY]"/>
  </appSettings>
</configuration>